html, body {
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav_menu a {
  color: #000;
  text-decoration: none; /* по желанию — убирает подчёркивание */
}

.nav_menu a:hover {
  text-decoration: underline; /* можно добавить эффект при наведении */
}

.hero_btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.portfolio_btn {
  width: 135px;
  height: 45px;

  background: #FFA501;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

a {
  color: #000;
  text-decoration: none;
}

.skills_cards {
  display: flex;
  flex-direction: row;
  gap: 13px;

  width: 100%;
  max-width: 270px;
}

.hero {
  background-image: url(./asssets//img/Background.jpg);
  max-width: 100%;
  width: 1920px;
  height: 800px;
}